ipcam-alarms:
[Unit]
Description=ipcam-alarms

[Service]
RemainAfterExit=true
ExecStart=/usr/local/bin/ipcam_alarms.sh
Type=simple

[Install]
WantedBy=multi-user.target
